*{
    text-decoration: none;
}
header
{
    background-color: #fff;
    width: 100%;
    height: 100px;
}
header .header-logo
{
    font-family: Oswald, sans-serif;
    font-size: 24px;
    color: green;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;   
}
header nav ul
{
    margin: 0 auto;
    display: block;
    width: fit-content;
}
header nav ul li
{
   display: inline-block;
   float: left;
   list-style: none;
   padding: 0 16px;
}
header nav ul li a
{
    
    font-family: Oswald, sans-serif;
    font-size: 16px;
    color: green;
    text-transform: uppercase;
}
@media only screen and (min-width: 1000px) {
    header .header-logo
{
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid #111;
    float: left;
}
header nav ul
{
    margin: 20px 0px 0px 20px;
    float: left;
    
}
header nav ul li a
{
    line-height: 60px;
    
}
}
/* Index */
.index-banner
{
    width: 100%;
    height: calc(100vh - 100px);
    background: url('../images/elina-fairytale-yoga.jpg') no-repeat center center;
    background-size: cover;
    display: table;

}
.banner-text-center
{
     display: table-cell;
     vertical-align: middle;
}
.index-banner h2 
{
    font-family: Oswald, sans-serif;
    font-size: 60px;
    font-weight: 650;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #111;
}
.index-boxlink div
{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}
.index-boxlink div > p
{
    color: #111;
    line-height: 17px;
    text-align: center;
}

.index-boxlink div h3
{
    font-family: Oswald, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    color: green;
    text-align: center;
    text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
.index-boxlink-yoga{
        height: 150px !important;
    }
.index-boxlink-meditation{
        height: 150px !important;
        
    }
.index-boxlink-mindfulness{
        height: 150px !important;
        margin-top: auto;
    }
.index-boxlink-mission{
        height: 250px !important;
    }
.index-boxlink-events{
        height: 250px !important;  
       
    }    
}
@media only screen and (max-width: 380px) {
.index-banner h2 
{
    font-size: 50px;
    font-weight: 550;
}
.index-boxlink-mission{
    height: 300px !important;
}
.index-boxlink-mindfulness{
    height: 200px !important;
    margin-top: auto;
}
}
@media only screen and (min-width: 1000px) {
.wrapper
    {
        width: 1000px;
        margin: 0 auto;
    }
.index-banner
    {
        width: 100%;
        height: 500px;
        background: url('../images/yoga.jpg.jpg') no-repeat center center;
        background-size: cover;
        display: table;
        text-shadow: 2px 2px #111;
    }
.index-banner h2 
    {
    font-size: 90px;
    padding-top: 120px;
   }
.index-boxlink
  {
    padding-bottom: 20px;
    overflow: hidden;
  }
.index-boxlink div
  {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }
.index-boxlink-yoga
   {
    width: calc(33% - 20px) !important;
   }
.index-boxlink-mindfulness
   {
    width: calc(33% - 20px) !important;
   }
.index-boxlink-meditation
   {
    width: calc(33% - 20px) !important;
   }
}

/* Footer */

footer
{
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}
footer ul
{
    width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li
{
    display: block;
    list-style: none;
}
footer ul li a
{
    font-family: Oswald, sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}
.footer-links-address
{
    display: none;
}
.footer-socialmedia
{
    width: 50px;
    float: right; 
}
.footer-socialmedia li
{
    width: 100px;
    list-style: none;  
    font-size: 50px; 
}    
@media only screen and (min-width: 1000px) {
    .footer-links-address
{
    display: block;
    padding-left: 200px;
}
footer ul li
{
    font-family: Oswald, sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;   
} 
}
/* Signup Style */
.form-section {
    clear: left;
    background: url("../images/meditation.jpg.jpg") no-repeat center center;
    background-size: cover;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form > h2 
{
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input 
{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #f16c6b;
}
.join-button 
{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover 
{
    background-color: #fafafa;
    color: #f16c6b;
}
