@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
*{
margin: 0;
padding: 0;
border: 0;
}
body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* heading and logo */
h1,h2
{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #454545;
}
#logo
{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* nevigation link */
#menu
{
     font-size: 110%;
     letter-spacing: 4px;
}
#menu , #logo
{
    line-height: 75px;
}
#menu li
{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a
{
    text-decoration: none;
    color: inherit;
}
#menu a:hover
{
    border-bottom: 1px solid #3a3a3a;
}
.active
{
    border-bottom: 1px solid #3a3a3a;
}
/* image content */
.yoga-image {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
}
.yoga-image img {
  width: 100%;
  height: 90%;
}
.yoga-about
{
  float: left;  
  margin-top: 20px; 
}
/* Events */
.event-head , h3
{
    text-align: center;
    margin-top: 2rem;
}
.timetable {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 1rem;
  width: 100%;
}
.day h5 {
  font-style: oblique;
  font-variant: small-caps;
  text-align: left;
}
.day p{
  font-style: oblique;
  font-variant: small-caps;
  text-align: left;
}
h3
{
    font-weight: 800;
    text-decoration: wavy;
    color: #f16c6b;
}
/* footer index.html */

.footer-container
{
    padding-bottom: 4px; 
}
.footer
{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}
.footer-heading
{
    display: flex;
    flex-direction: column;
    margin: 4rem;
}
.footer-heading h2
{
    margin-bottom: 2rem;
}
.footer-heading a
{
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-heading a:hover
{
    color: #f16c6b;
}
.footer-email-form h2
{
margin-bottom: 2rem;
margin-top: 4rem;
}
#footer-email
{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding-left: 0.5rem;
    border: 1px solid #f16c6b;
}
.social-heading
{
}
/* Signup Style */
.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 700px;
}
.signup-form
{
    margin: 150px 10% 0 0;       /*10% 0 0;*/
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form h2
{
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input
{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0; /*top bottom /5px 20px;*/
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover
{
   border-color: #f16c6b;
}
.join-button 
{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover
{
    background-color: #fafafa;
    color: #f16c6b;
}
/* signup footer */
footer{
    height: 50px;
}
.social-networks{
    text-align: center;
}
.text
{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #3a3a3a;
    margin-top: 0.5rem;
   
}
.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
@media screen and (max-width: 600px)  {
  .yoga-image {
    grid-template-columns: auto;
  }
  .timetable {
    grid-template-columns: auto;
  }
}